name: Email Step Action

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 25f1001183@ds.study.iitm.ac.in
        run: echo "Hello, world!"

